<div ng-controller="BuscarCuentaBancariaController">
    <br/>
    <div class="row">
        <form name="formBuscar" ng-submit="getPagedDataSearched()" novalidate>
            <div class="col-sm-8">
                <div class="form-group">
                    <div class="input-group">
                        <input focus-on="focusFilterText" type="text" name="filterText" class="form-control" ng-model="filterOptions.filterText" placeholder="N&uacute;mero de Cuenta / N&uacute;mero Documento / Socio" capitalize autofocus>
                    <span class="input-group-btn">
                        <button type="submit" class="btn btn-default">
                            <span class="glyphicon glyphicon-search"></span>
                        </button>
                    </span>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <button type="button" ng-click="changeStateBusquedaAvanzada()" class="btn btn-link">Avanzado</button>
            </div>
        </form>
    </div>
    <div class="row" collapse="view.busquedaAvanzada">
        <div class="col-sm-12">
            <label class="checkbox-inline">
                <input type="checkbox" ng-model="view.ahorroSelection" ng-change="changeTipoCuentaBancaria()"> Ahorro
            </label>
            <label class="checkbox-inline">
                <input type="checkbox" ng-model="view.corrienteSelection" ng-change="changeTipoCuentaBancaria()"> Corriente
            </label>
            <label class="checkbox-inline">
                <input type="checkbox" ng-model="view.plazoFijoSelection" ng-change="changeTipoCuentaBancaria()"> P.Fijo
            </label>
            &nbsp;&nbsp;||&nbsp;&nbsp;
            <label class="checkbox-inline">
                <input type="checkbox" ng-model="view.personaNaturalSelection" ng-change="changeTipoPersonas()"> P.Natural
            </label>
            <label class="checkbox-inline">
                <input type="checkbox" ng-model="view.personaJuridicaSelection" ng-change="changeTipoPersonas()"> P.Juridica
            </label>
            &nbsp;&nbsp;||&nbsp;&nbsp;
            <label class="checkbox-inline">
                <input type="checkbox" ng-model="view.estadoActivoSelection" ng-change="changeTipoEstadoCuenta()"> Cta.Activa
            </label>
            <label class="checkbox-inline">
                <input type="checkbox" ng-model="view.estadoCongeladoSelection" ng-change="changeTipoEstadoCuenta()"> Cta.Congelada
            </label>
            <label class="checkbox-inline">
                <input type="checkbox" ng-model="view.estadoInactivoSelection" ng-change="changeTipoEstadoCuenta()"> Cta.Inactiva
            </label>
        </div>
    </div>
    <br/>
    <div class="row">
        <div class="col-sm-8">
            <div class="form-group">
                <button type="button" ng-click="nuevo()" class="btn btn-primary">Nuevo</button>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="form-group">
                <div ng-grid="gridOptions" style="border: 1px solid rgb(212,212,212); height: 393px; font-size: 12px"></div>
            </div>
        </div>
    </div>
</div>
