<div ng-controller="CancelarCuentaBancariaController">

    <fieldset>
        <legend>Cancelar Cuenta Bancaria</legend>
    </fieldset>
    <alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">
        <span ng-bind="alert.msg"></span>
    </alert>
    <div class="row">
        <div class="col-sm-12">
            <p>
                Existen muchas formas diferentes de utilizar nuestros servicios para buscar y
                compartir información, ponerte en contacto con otros usuarios o crear contenido nuevo.
                Cuando compartes información con nosotros, por ejemplo, al crear una cuenta de Google,
                podemos mejorar esos servicios para mostrarte anuncios y resultados de búsqueda más
                relevantes, ayudarte a conectar con personas o compartir contenido con otros
                usuarios de forma más fácil y rápida. Ya que eres usuario de nuestros servicios,
                queremos que entiendas cómo usamos la información y lo que puedes hacer para proteger
                tu privacidad.

                La presente Política de privacidad describe:

                Qué datos recogemos y los fines para los que llevamos a cabo su recogida
                Cómo utilizamos esos datos
                Las opciones que ofrecemos, incluyendo cómo acceder a los datos y actualizarlos.
                Hemos intentado que esta información sea lo más sencilla posible, pero si no
                estás familiarizado con términos como cookies, direcciones IP, etiquetas de
                píxeles y navegadores, consulta en primer lugar estos términos clave. Tu privacidad
                es importante para Google, por lo que te recomendamos que te familiarices con nuestras
                prácticas, tanto si acabas de empezar a utilizar Google como si llevas mucho tiempo
                usándolo, y que consultes esta página si tienes alguna pregunta.
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="checkbox">
                <label>
                    <input type="checkbox" ng-model="view.condiciones" required> Acepto los terminos y condiciones
                </label>
            </div>
        </div>
    </div>
    <button type="button" ng-click="cancelar()" class="btn btn-default">Cancelar</button>
    <button type="button" ng-click="cancelarCuentaBancaria()" class="btn btn-default">Cancelar cuenta</button>
</div>
