<div>
    <div>
        <div class="modal-header">
            <button type="button" class="close" ng-click="cancel()">&times;</button>
            <h4 class="modal-title">Confirmacion</h4>
        </div>
        <form name="formCalculadora" novalidate>
            <div class="modal-body">
                <p>¿Estas seguro de realizar esta operacion?</p>
            </div>
            <div class="modal-footer">
                <button focus-on="focusSi" type="button" class="btn btn-primary" ng-click="ok()" autofocus>Si</button>
                <button focus-on="focusNo" type="button" class="btn btn-default" ng-click="cancel()">No</button>
            </div>
        </form>
    </div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->