<div>
    <div>
        <div class="modal-header">
            <button type="button" class="close" ng-click="cancel()">&times;</button>
            <h4 class="modal-title">Firma persona</h4>
        </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-sm-6 col-md-4" ng-repeat="persona in idPersonas">
                                <div class="thumbnail">
                                    <img ng-src="{{getUrlFirma($index)}}">
                                    <div class="caption">
                                        <h5 ng-bind="nombres[$index]"></h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" ng-click="ok()" autofocus>Aceptar</button>
                <button type="button" class="btn btn-default" ng-click="cancel()">Cancelar</button>
            </div>
    </div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->