<div>
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" ng-click="cancel()">&times;</button>
            <h4 class="modal-title">Sing in</h4>
        </div>
        <div class="container">
            <div id="loginbox" style="margin-top:10px;" class="mainbox col-md-9 col-md-offset-2 col-sm-6 col-sm-offset-2">
                <div class="panel" >
                    <div style="padding-top:15px" class="panel-body">
                        <div style="display:none" id="login-alert" class="alert alert-danger col-sm-12"></div>
                        <form name="$parent.formLoginPopUp" ng-submit="ok()" class="form-horizontal" novalidate>
                            <div ng-show="!control.failure" class="form-group has-error" style="margin-left: 1px;">
                                <label class="control-label" for="inputSuccess3">Usuario y/o Password Incorrecto</label>
                            </div>
                            <div style="margin-bottom: 25px" class="input-group" ng-class="{ 'has-error' : formLoginPopUp.username.$invalid && formLoginPopUp.username.$dirty}">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                                <input focus-on="focusUsername" type="text" class="form-control" name="username" ng-model="usuario.username" placeholder="Username" required autofocus>
                            </div>
                            <div style="margin-bottom: 25px" class="input-group" ng-class="{ 'has-error' : formLoginPopUp.password.$invalid && formLoginPopUp.password.$dirty}">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                                <input type="password" class="form-control" name="password" ng-model="usuario.password" placeholder="Password" required>
                            </div>
                            <div style="margin-top:10px" class="form-group">
                                <!-- Button -->
                                <div class="col-sm-12 controls">
                                    <button type="submit" class="btn btn-primary">Sign In</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->