<div ng-controller="BuscarTransaccionBovedaCajaController">
    <fieldset>
        <legend>Transaccion de Boveda - Caja</legend>
        <button type="button" class="btn btn-primary" ng-click="nuevo()">Nuevo</button>
    </fieldset>
    <br/>
    <div class="row">
        <div class="col-sm-12">
            <tabset>
                <tab heading="Recibidos">
                    <div ng-grid="gridOptionsRecibidos" style="border: 1px solid rgb(212,212,212); width: 100%; height: 300px;"></div>
                </tab>
                <tab heading="Enviados">
                    <div ng-grid="gridOptionsEnviados" style="border: 1px solid rgb(212,212,212); width: 100%; height: 300px;"></div>
                </tab>
            </tabset>
            <div class="form-group">

            </div>
        </div>
    </div>
</div>