<div>
    <fieldset>
        <legend>Panel control</legend>
        <div class="row">
            <div class="col-sm-6">
                <div class="panel panel-default">
                    <!-- Default panel contents -->
                    <div class="panel-heading">Caja</div>
                    <table class="table table-condensed">
                        <tbody>
                        <tr>
                            <td>Denominacion</td>
                            <td>123566</td>
                        </tr>
                        <tr>
                            <td>Estado</td>
                            <td>123566</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="panel panel-default">
                    <!-- Default panel contents -->
                    <div class="panel-heading">Bovedas</div>
                    <table class="table table-condensed">
                        <tbody>
                        <tr>
                            <td>Boveda soles</td>
                            <td>123566</td>
                        </tr>
                        <tr>
                            <td>Boveda soles</td>
                            <td>123566</td>
                        </tr>
                        <tr>
                            <td>Boveda soles</td>
                            <td>123566</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Ingresos</h3>
            </div>
            <table class="table table-condensed">
                <thead>
                <tr>
                    <td></td>
                    <td>Cta. Aportes</td>
                    <td>Cta. Ahorro</td>
                    <td>Cta. Plazo fijo</td>
                    <td>Cta. Corriente</td>
                </tr>
                </thead>
               <tbody>
               <tr>
                   <td>Soles</td>
                   <td>(58) 2547854</td>
                   <td>(58) 2547854</td>
                   <td>(58) 2547854</td>
                   <td>(58) 2547854</td>
               </tr>
               <tr>
                   <td>Soles</td>
                   <td>(58) 2547854</td>
                   <td>(58) 2547854</td>
                   <td>(58) 2547854</td>
                   <td>(58) 2547854</td>
               </tr>
               <tr>
                   <td>Soles</td>
                   <td>(58) 2547854</td>
                   <td>(58) 2547854</td>
                   <td>(58) 2547854</td>
                   <td>(58) 2547854</td>
               </tr>
               </tbody>
            </table>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Egresos</h3>
            </div>
            <table class="table table-condensed">
                <thead>
                <tr>
                    <td></td>
                    <td>Cta. Aportes</td>
                    <td>Cta. Ahorro</td>
                    <td>Cta. Plazo fijo</td>
                    <td>Cta. Corriente</td>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>Soles</td>
                    <td>(58) 2547854</td>
                    <td>(58) 2547854</td>
                    <td>(58) 2547854</td>
                    <td>(58) 2547854</td>
                </tr>
                <tr>
                    <td>Soles</td>
                    <td>(58) 2547854</td>
                    <td>(58) 2547854</td>
                    <td>(58) 2547854</td>
                    <td>(58) 2547854</td>
                </tr>
                <tr>
                    <td>Soles</td>
                    <td>(58) 2547854</td>
                    <td>(58) 2547854</td>
                    <td>(58) 2547854</td>
                    <td>(58) 2547854</td>
                </tr>
                </tbody>
            </table>
        </div>

        <div class="row">
            <div class="col-sm-6">
                <div class="panel panel-default">
                    <!-- Default panel contents -->
                    <div class="panel-heading">Caja</div>
                    <table class="table table-condensed">
                        <tbody>
                        <tr>
                            <td>Denominacion</td>
                            <td>123566</td>
                        </tr>
                        <tr>
                            <td>Estado</td>
                            <td>123566</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="panel panel-default">
                    <!-- Default panel contents -->
                    <div class="panel-heading">Bovedas</div>
                    <table class="table table-condensed">
                        <tbody>
                        <tr>
                            <td>Boveda soles</td>
                            <td>123566</td>
                        </tr>
                        <tr>
                            <td>Boveda soles</td>
                            <td>123566</td>
                        </tr>
                        <tr>
                            <td>Boveda soles</td>
                            <td>123566</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </fieldset>
</div>