<div>
    <div>
        <br/>
        <form name="formBuscar" ng-submit="getPagedDataSearched()" novalidate>
            <div class="row">
                <div class="col-sm-8">
                    <div class="form-group">
                        <div class="input-group">
                            <input focus-on="focusFilterText" type="text" name="filterText" class="form-control" ng-model="filterOptions.filterText" placeholder="N&uacute;mero Documento / Apellidos y Nombres" capitalize autofocus>
                    <span class="input-group-btn">
                        <button type="submit" class="btn btn-default">
                            <span class="glyphicon glyphicon-search"></span>
                        </button>
                    </span>
                        </div>
                    </div>
                </div>
            </div>
        </form>
        <br/>
        <div class="row">
            <div class="col-sm-8">
                <div class="form-group">
                    <button type="button" ng-click="nuevo()" class="btn btn-primary">Nuevo</button>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="form-group">
                    <div ng-grid="gridOptions" style="border: 1px solid rgb(212,212,212); height: 393px; font-size: 12px;"></div>
                </div>
            </div>
        </div>
    </div>
</div>