<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>

<table>
    <tr><td>AGENCIA:</td><td></td></tr>
    <tr><td>CAJA:</td><td></td></tr>
    <tr><td>FECHA APERTURA:</td><td></td><td>HORA APERTURA:</td><td></td></tr>
    <tr><td>FECHA CIERRE:</td><td></td><td>HORA APERTURA:</td><td></td></tr>
    <tr><td>TRABAJADOR:</td><td colspan="3"></td></tr>
</table>
<table>
    <thead>
    <tr><th colspan="4">DEPOSITOS(TOTAL):</th></tr>
    </thead>
    <tbody>
    <tr><td>C. Aporte</td><td></td><td>C. Ahorro</td><td></td></tr>
    <tr><td>C. Plazo fijo</td><td></td><td>C. Corriente</td><td></td></tr>
    </tbody>
</table>
<table>
    <thead>
    <tr><th colspan="4">RETIROS(TOTAL):</th></tr>
    </thead>
    <tbody>
    <tr><td>C. Aporte</td><td></td><td>C. Ahorro</td><td></td></tr>
    <tr><td>C. Plazo fijo</td><td></td><td>C. Corriente</td><td></td></tr>
    </tbody>
</table>

</body>
</html>