<div ng-controller="VoucherTransaccionBovedaCajaController">
    <div class="row">
        <div class="col-md-5" id="voucher">
            <div>
                <fieldset>
                    <legend>VOUCHER TRANSACCION BOVEDA/CAJA</legend>
                </fieldset>
                <div class="panel panel-default">
                    <!-- Default panel contents -->
                    <div class="panel-heading" style="text-align: center;">
                        <label><strong>C.A.C. CAJA VENTURA</strong></label><br />
                        <label ng-bind="transaccionBovedaCaja.tipoTransaccion"></label>
                        <label>&nbsp;CUENTA&nbsp;</label>
                        <label ng-bind="transaccionBovedaCaja.tipoCuentaBancaria"></label>
                    </div>
                    <!-- Table -->
                    <table class="table">
                        <tbody>
                        <tr>
                            <td>AGENCIA:</td>
                            <td>
                                <span ng-bind="transaccionBovedaCaja.agenciaAbreviatura"/>
                            </td>
                            <td>N&deg; TRANS:</td>
                            <td>
                                <span ng-bind="transaccionBovedaCaja.id"/>
                            </td>
                        </tr>
                        <tr>
                            <td>CAJA:</td>
                            <td>
                                <span ng-bind="transaccionBovedaCaja.cajaDenominacion"/>
                                <span ng-bind="'(' + transaccionBovedaCaja.cajaAbreviatura + ')'"/>
                            </td >
                        </tr>
                        <tr>
                            <td>FECHA:</td>
                            <td colspan="3">
                                <span ng-bind="transaccionBovedaCaja.fecha | date : 'dd/MM/yyyy'"/>
                                <span ng-bind="transaccionBovedaCaja.hora | date : 'HH:mm:ss'"/>
                            </td>
                        </tr>
                        <tr>
                            <td>MONEDA:</td>
                            <td colspan="3">
                                <span ng-bind="transaccionBovedaCaja.moneda.denominacion"/>
                                <span ng-bind="'(' + transaccionBovedaCaja.moneda.simbolo + ')'"/>
                            </td>
                        </tr>
                        <tr>
                            <td>ORIGEN:</td>
                            <td colspan="3">
                                <span ng-bind="transaccionBovedaCaja.origen"/>
                            </td>
                        </tr>
                        <tr>
                            <td>MONTO:</td>
                            <td colspan="3" style="text-align: right;">
                                <span ng-bind="transaccionBovedaCaja.moneda.simbolo"></span>
                                <span ng-bind="transaccionBovedaCaja.monto | number : 2"/>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="4" style="text-align: center; font-size: 12px">
                                <p>&nbsp;</p>
                                <p>Verifique su dinero antes de retirarse de ventanilla.</p>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <button type="button" class="btn btn-success" ng-click="imprimir()">Imprimir</button>
                <button type="button" class="btn btn-primary" ng-click="salir()">Continuar »</button>
            </div>
        </div>
    </div>
</div>
<applet id="qz"
        archive="bower_components/qz-print/qz-print.jar"
        name="QZ Print Plugin" code="qz.PrintApplet.class"
        width="55"
        height="55">
    <param name="jnlp_href" value="bower_components/qz-print/qz-print_jnlp.jnlp">
    <param name="cache_option" value="plugin">
    <param name="disable_logging" value="false">
    <param name="initial_focus" value="false">
</applet>